@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Medium"), local("Circular-Std-Medium"),
    url("../font/CircularStd-Medium.woff2") format("woff2"),
    url("../font/CircularStd-Medium.woff") format("woff"),
    url("../font/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Bold"), local("Circular-Std-Bold"),
    url("../fonts/CircularStd-Bold.woff2") format("woff2"),
    url("../fonts/CircularStd-Bold.woff") format("woff"),
    url("../fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
