* {
  outline: none;
  box-sizing: border-box;
}

html * {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-size: 14px;
  font-weight: 500;
  font-family: "Circular Std", sans-serif;
  line-height: 1.2;
  color: #8c8b92;
  /* background-image: url("../img/heroimg1.svg");
  background-repeat: no-repeat;
  background-size: cover; */
  background: url(../img/heroimg1.svg) top left no-repeat,
    url(../img/heroimg2.svg) right -30% no-repeat;
  background-size: 37%;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #8c8b92;
}

p {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

button {
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #000;
}

img {
  width: 100%;
  max-width: 100%;
}

.section-style-1,
.section-style-2,
.section-style-3 {
  margin: 64px 0;
}

.is-active {
  color: #222831;
}

.button {
  padding: 16px 32px;
  background: #fff;
  color: #222831;
  cursor: pointer;
  font-size: 14px;
  border-radius: 100px;
}

.button.button-purple {
  background: #5d50c6;
  color: #fff;
}

.button-nowrap {
  display: flex;
  align-items: center;
}

.text-button-black {
  color: #222831;
}

.text-button-white {
  color: #fff;
}

.button-border {
  border: 1px solid #eee;
}

.text-pink {
  color: #f85e9f;
}
