.hero-img {
  background: url(../img/heroimg1.svg) top left no-repeat,
    url(../img/heroimg2.svg) right center no-repeat;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.main-nav-list {
  display: flex;
}

.main-nav-item {
  margin: 0 32px;
}

.content-container {
  display: flex;
}

.content-left {
  width: 427px;
  height: 713px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-left .button-text {
  margin-right: 16px;
  color: #f85e9f;
}

.content-left .hero-title {
  padding: 43px 0;
}

.content-left h2 {
  font-size: 69px;
  font-weight: 900;
}

.content-left .content-descr {
  padding-bottom: 43px;
}

.content-left .content-descr p {
  font-size: 18px;
  color: #8b8b91;
}

.content-button {
  display: flex;
}

.content-button button:first-child {
  margin-right: 16px;
  box-shadow: 0 20px 50px -15px #5d50c6;
}

.content-right {
  background-image: url("../img/layer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.content-wrapper .content-card-left {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.content-wrapper .content-card-wrapper .card-1 {
  margin-bottom: 32px;
  position: relative;
}

.content-wrapper .content-card-right {
  display: flex;
  align-items: center;
  position: relative;
}

.send-btn {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f85e9f;
  box-shadow: 0 20px 25px -20px #000;
  position: absolute;
  top: 86%;
  left: -12%;
}

.send-btn img {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
}

.button-location {
  background-color: #fff;
  position: absolute;
  right: -30%;
  bottom: 27%;
  box-shadow: 0 20px 35px -20px #000;
}

.add-btn {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5722;
  box-shadow: 0 20px 25px -20px #000;
  position: absolute;
  bottom: 0;
  left: 30%;
}

.add-btn img {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
}

.section-style-2 .brand-wrapper {
  position: relative;
}

.section-style-2 .brand-wrapper .brand-lists {
  display: flex;
  justify-content: space-between;
}

.section-style-2 .object {
  position: absolute;
  left: 10%;
  bottom: 5%;
}

.info-wrapper {
  display: flex;
}

.content-info-left {
  width: 444px !important;
  height: 443px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-info-left .info-left-heading {
  margin-bottom: 16px;
}

.content-info-left .info-left-heading h4 {
  font-size: 23px;
}

.info-card-right {
  display: flex;
  flex: 1;
  max-width: 1092px;
}

.info-card {
  padding: 64px;
  text-align: center;
  align-items: center;
  margin: 0 11px;
  background: #fff;
  width: 350px;
}

.info-card:not(:first-child) {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.info-card .info-card-img img {
  width: 64px;
  margin-bottom: 64px;
}

.info-card .info-card-heading {
  font-size: 28px;
  color: #191825;
  margin-bottom: 32px;
}

.info-card .info-card-descr {
  font-size: 18px;
}

.tns-outer {
  overflow-x: clip;
}

.tns-outer .tns-liveregion {
  display: none;
}

.section-style-4 {
  position: relative;
}

.feature-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
}

.feature-wrapper .feature-left-heading {
  font-size: 23px;
  margin-bottom: 16px;
}

.feature-right {
  display: flex;
}

.controller-btn {
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  border-radius: 100px;
  cursor: pointer;
}

.controller-btn[disabled] {
  cursor: not-allowed;
}

.controller-btn[disabled] span {
  opacity: 0.3;
}

.controller-btn.btn-right {
  background: #5d50c6;
  margin-left: 32px;
}

.controller-btn.btn-left span img,
.controller-btn.btn-right span img {
  width: 24px;
}

.object-x {
  position: absolute;
  right: 14%;
}

.section-style-5 {
  padding-bottom: 64px;
}

.section-card-wrapper {
  display: flex;
}

.section-card {
  width: 350px !important;
  margin: 0 15px;
  border-radius: 32px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.section-card:first-child {
  margin-left: unset;
}

.section-card:last-child {
  margin-right: unset;
}

.section-card .section-card-img {
  height: 350px;
  width: 350px;
}

.section-card .section-card-detail {
  padding: 32px;
}

.section-card-top {
  margin-bottom: 32px;
}

.section-card .section-card-detail .section-card-heading {
  display: flex;
  margin-bottom: 16px;
}

.section-card-heading .section-card-title h4 {
  font-size: 23px;
  color: #191825;
}

.section-card-heading .section-card-price h4 {
  font-size: 23px;
}

.section-card .section-card-detail .section-card-descr p {
  font-size: 18px;
}

.section-card-bottom .section-card-rating {
  display: flex;
  align-items: center;
}

.section-card-bottom .section-card-rating h4 {
  font-size: 23px;
}

.section-card-bottom .section-card-rating span {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

.section-location-wrapper {
  display: flex;
}

.section-location-wrapper .section-location-left {
  position: relative;
  display: flex;
  align-items: end;
}

.section-location-left .people-group {
  width: 790px;
  height: 700px;
}

.section-location-left .button-discount {
  top: 18%;
  right: 0;
}

.section-location-left .button-discount span {
  margin-right: 16px;
}

.section-location-left .button-discount h4 {
  font-size: 23px;
}

.section-location-wrapper .section-location-left .shape {
  position: absolute;
}

.section-location-right {
  flex: 1;
  margin-left: 42px;
}

.section-location-right .section-location-detail {
  margin-bottom: 64px;
}

.section-location-card {
  position: relative;
}

.location-card-top {
  margin-bottom: 32px;
}

.location-card-wrapper {
  display: flex;
  text-align: center;
}

.location-card {
  border: 1px solid #eee;
  border-radius: 32px;
  padding: 32px;
}

.location-card .location-card-data {
  margin-bottom: 16px;
}

.location-card .location-card-data h3 {
  font-size: 35px;
}

.location-card .location-card-descr {
  width: 142px;
}

.location-card .location-card-descr p {
  font-size: 18px;
  color: #191825;
}

.location-card-wrapper .location-card:first-child {
  margin-right: 32px;
}

.ticket-btn {
  width: 112px;
  height: 112px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #facd49;
  box-shadow: 0 20px 25px -20px #000;
  position: absolute;
  right: -15%;
  top: -22%;
}

.ticket-btn img {
  width: 48px;
}

.section-style-7 {
  padding: 64px 0;
}

.section-features-wrapper {
  display: flex;
}

.section-features-left {
  width: 540px;
}

.section-features-left .section-features-detail {
  margin-bottom: 64px;
}

.section-key-features .key-features-wrapper {
  display: flex;
  align-items: center;
  padding: 32px;
  border: 1px solid #eeee;
  border-radius: 32px;
}

.section-key-features .key-features-wrapper:first-child,
.section-key-features .key-features-wrapper:last-child {
  border: unset;
}

.section-key-features .key-features {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  background-color: #facd49;
  margin-right: 32px;
}

.section-key-features .key-features-wrapper:first-child .key-features {
  background-color: #ff5722;
}

.section-key-features .key-features-wrapper:last-child .key-features {
  background-color: #f85e9f;
}

.section-key-features .key-features .features-icon {
  width: 48px;
}

.section-features-right {
  flex: 1;
  margin-left: 42px;
  position: relative;
}

.section-features-right .image-1 {
  max-width: 443px;
  max-height: 665px;
}

.section-features-right .image-2 {
  max-width: 351px;
  max-height: 496px;
  position: absolute;
  right: 0;
  top: 33%;
}

.section-features-right .bg {
  max-width: 447px;
  max-height: 276px;
  position: absolute;
  top: -7%;
  right: -34%;
  z-index: -1;
}

.section-features-right .button-image {
  position: absolute;
  top: 14%;
  right: 0;
}

.section-features-right .button-image span {
  width: 40px;
  margin-right: 16px;
}

.section-features-right .button-image h4 {
  font-size: 23px;
}
