.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.main-nav-list {
  display: flex;
}

.main-nav-item {
  margin: 0 32px;
}

.content-container {
  display: flex;
}

.content-left {
  width: 427px;
  height: 713px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-left .button-text {
  margin-right: 16px;
  color: #f85e9f;
}

.content-left .hero-title {
  padding: 43px 0;
}

.content-left h2 {
  font-size: 69px;
  font-weight: 900;
}

.content-left .content-descr {
  padding-bottom: 43px;
}

.content-left .content-descr p {
  font-size: 18px;
  color: #8b8b91;
}

.content-button {
  display: flex;
}

.content-button button:first-child {
  margin-right: 16px;
  box-shadow: 0 20px 50px -15px #5d50c6;
}

.content-right {
  background-image: url("../img/layer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.content-wrapper .content-card-left {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.content-wrapper .content-card-wrapper .card-1 {
  margin-bottom: 32px;
  position: relative;
}

.content-wrapper .content-card-right {
  display: flex;
  align-items: center;
  position: relative;
}

.send-btn {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f85e9f;
  box-shadow: 0 20px 25px -20px #000;
  position: absolute;
  top: 86%;
  left: -12%;
}

.send-btn img {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
}

.button-location {
  background-color: #fff;
  position: absolute;
  right: -30%;
  bottom: 27%;
  box-shadow: 0 20px 35px -20px #000;
}

.add-btn {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5722;
  box-shadow: 0 20px 25px -20px #000;
  position: absolute;
  bottom: 0;
  left: 30%;
}

.add-btn img {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
}

.section-style-2 .brand-wrapper {
  position: relative;
}

.section-style-2 .brand-wrapper .brand-lists {
  display: flex;
  justify-content: space-between;
}

.section-style-2 .object {
  position: absolute;
  left: 10%;
  bottom: 5%;
}

.info-wrapper {
  display: flex;
}

.content-info-left {
  width: 537px;
  height: 443px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-info-left .info-left-heading {
  margin-bottom: 16px;
}

.content-info-left .info-left-heading h4 {
  font-size: 23px;
}

.content-info-left .info-text-descr h2 {
  font-size: 44px;
  color: #191825;
}

.info-card-wrapper {
  display: flex;
  flex: 1;
  max-width: 1092px;
}

.info-card {
  padding: 64px;
  text-align: center;
  align-items: center;
  margin: 0 11px;
  background: #fff;
}

.info-card:not(:first-child) {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.info-card .info-card-img img {
  width: 64px;
  margin-bottom: 64px;
}

.info-card .info-card-heading {
  font-size: 28px;
  color: #191825;
  margin-bottom: 32px;
}

.info-card .info-card-descr {
  font-size: 18px;
}

.tns-outer {
  overflow: hidden;
}

.tns-outer .tns-liveregion {
  display: none;
}

.section-style-4 {
  margin-top: 64px;
  position: relative;
}

.feature-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
}

.feature-wrapper .feature-left-heading {
  font-size: 23px;
  margin-bottom: 16px;
}

.feature-wrapper .feature-text-descr h2 {
  font-size: 44px;
}

.feature-right {
  display: flex;
}

.controller-btn {
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  border-radius: 100px;
  cursor: pointer;
}

.controller-btn[disabled] {
  cursor: not-allowed;
}

.controller-btn[disabled] span {
  opacity: 0.3;
}

.controller-btn.btn-right {
  background: #5d50c6;
  margin-left: 32px;
}

.controller-btn.btn-left span img,
.controller-btn.btn-right span img {
  width: 24px;
}

.object-x {
  position: absolute;
  right: 15%;
}
